.aboutme_section {
    background: #f5f5f5;
    min-height: 600px;
    display: flex;
    flex-direction: column;
}
.aboutme_section h2{
    text-align: center;
}
.aboutme_content_container{
    display: flex;
    flex-direction: column;
}
.aboutme_image {
    width: 200px;
    height: 200px;
    margin: 50px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.aboutme_text {
    width: 300px;
    margin:auto;
    padding:0 20px 30px 20px;

}

@media all and (min-width:550px){
    .aboutme_section {
        display: flex;
        justify-content: space-evenly;
        min-height:500px;
    }
    .aboutme_image_container {
        flex: 1;
        margin: auto;
        max-width: fit-content;
    }
    .aboutme_text {
        flex: 1;
        margin:auto;
        max-width: 400px;
    }
    .aboutme_content_container{
        flex-direction: row;
    }
}
