.project_main_container {
    display: flex;
    justify-content:center;
    margin: auto;
    min-height: 600px;
}
.project_container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    background-image:linear-gradient(to bottom, #f1f1f1 0%, #f8f8f8 100%);
    color: #000000;
    box-shadow: 1px 1px 4px #bbbbbb;
    border-radius: 15px;
    margin: 20px 15px 10px 15px;
    padding: 20px;
    align-items: stretch;
}
.project_image {
    flex: 1;
    width:200px;
    height: 200px;
    margin: auto;
    border:5px solid #ffffff;
    border-radius: 50%;
}

@media screen and (max-width:550px){
    .project_main_container {
        flex-direction: column;
    }
    .project_container {
        margin: 10px 20px 10px 20px;
        height: fit-content;
        align-items: center;
        max-width: none;
    }
}

